.place__paragraphs {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 395px) {
  .place__paragraphs {
    gap: 25px;
    margin: 0 16px;
  }
}
